# LetsGrowMore

## Name: Aman Pandey

## Task No. : 2 (Part 1)

## Task Level : Intermediate

## Task Name : Exploratory Data Analysis on Dataset - Terrorism

In [1]:
#importing Pandas library
import pandas as pd

In [21]:
data=pd.read_csv("globalterrorismdb_0718dist.csv",encoding= "ISO-8859-1" )

c:\users\l\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [6]:
data.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(56), int64(21), object(58)
memory usage: 187.1+ MB

In [8]:
data.shape

(181691, 135)

In [36]:
data=data[["iyear","imonth","iday","country","country_txt","region_txt","provstate","city","success","attacktype1_txt","targtype1_txt","targsubtype1_txt","natlty1_txt","nkill","propvalue","latitude","longitude",
          "gname","weapsubtype1_txt","weapdetail"]]

In [37]:
data.shape

(181691, 20)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   iyear             181691 non-null  int64
 1   imonth            181691 non-null  int64
 2   iday              181691 non-null  int64
 3   country           181691 non-null  int64
 4   country_txt       181691 non-null  object
 5   region_txt        181691 non-null  object
 6   provstate         181270 non-null  object
 7   city              181257 non-null  object
 8   success           181691 non-null  int64
 9   attacktype1_txt   181691 non-null  object
 10  targtype1_txt     181691 non-null  object
 11  targsubtype1_txt  171318 non-null  object
 12  natlty1_txt       180132 non-null  object
 13  nkill             171378 non-null  float64
 14  propvalue         38989 non-null   float64
 15  latitude          177135 non-null  float64
 16  longitude         177134 non-null  float64
 17  gname             181691 non-null  object
 18  weapsubtype1_txt  160923 non-null  object
 19  weapdetail        114021 non-null  object
dtypes: float64(4), int64(5), object(11)
memory usage: 27.7+ MB

In [49]:
data=data.rename(columns={'iyear':'Year','imonth':"Month",'iday':'Day','country':'Country_no.','country_txt':'Country','region_txt':'Region','city':'City',
                    'provstate': 'State','attacktype1_txt':'Attack_type','targtype1_txt':'Target','targsubtype1_txt':'Target_Area','natlty1_txt':'Nationality',
                   'nkill':'No_of_Kills','propvalue':'Property_value','latitude ':'Latitude','longitude':'Longitude','gname':'Group_name','weapsubtype1_txt':'Weapon_name',
                    'weapdetail':'Weapon_detail'})

In [50]:
data.isnull().sum()

Year                   0
Month                  0
Day                    0
Country_no.            0
Country                0
Region                 0
State                421
City                 434
success                0
Attack_type            0
Target                 0
Target_Area        10373
Nationality         1559
No_of_Kills        10313
Property_value    142702
latitude            4556
Longitude           4557
Group_name             0
Weapon_name        20768
Weapon_detail      67670
dtype: int64

In [52]:
data['City'].fillna("Unknown",inplace = True)
data['Target_Area'].fillna('Unknown',inplace = True)
data['Property_value'].fillna(0,inplace = True)
data['No_of_Kills'].fillna(0,inplace = True)

In [59]:
data.to_csv("globalterrorismdb_0718dist.csv")